{% extends 'happenings/middle.html' %}

{% load staticfiles happenings_tags calendar_tags %}

{% block extra_head %}
<link href=" {% static 'happenings/css/calendar.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <section class="section section-first priority-1 color-scheme-1 transition-form switcher-item-2">
        <div class="container">
            {% if eventspage.title %}<h1 id="page_title">{{ eventspage.title }}</h1>{% endif %}

            {% if eventspage.slogan %}
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                    <h5 id="slogan">​{{ eventspage.slogan }}</h5>
                </div>
            </div>
            {% endif %}

            <div class="row">
                <div class="col-xs-12 col-xs-offset-0 col-sm-8 col-sm-offset-0">
                    <div id="event-calendar">
                        {% show_my_calendar request %}
                    </div>
                </div>
                <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-0" id="page_content">
                    <div id="event_display">
                        {% upcoming_events num=1 %}
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}

{% block extra_foot %}
<script src="{% static 'happenings/js/calendar.js' %}"></script>
<script>$(function() { $(".td-inner a:first-child").attr("href", "#"); $(".td-inner a:first-child").click(function() { return false; }); });</script>
<style>.td-inner a:first-child, .td-inner a:first-child:hover { text-decoration: none; color: #000; }</style>
{% endblock %}
