{% extends "base.html" %}

{% block content %}
    <section class="section section-first priority-1 color-scheme-1 transition-form switcher-item-2">
        <div class="container">
            {% if info.homepage.title %}<h1 id="page_title">{{ info.homepage.title }}</h1>{% endif %}

            {% if info.slideritems %}
            {% if info.homepage.slider_color %}<style>.color-scheme-1 .owl-carousel .owl-pagination .owl-page.active { background: #{{ info.homepage.slider_active_color }}; } .color-scheme-1 .owl-carousel .owl-pagination .owl-page { background: #{{ info.homepage.slider_color }}; }</style>{% endif %}

            <div class="row">
                <div class="col-xs-12">
                    <div id="home-slider" class="owl-carousel">
                        {% for item in info.slideritems %}
                        <div>
                            {% if item.link %}<a href="{{ item.link }}">{% endif %}
                                <img src="{{ item.image.url }}" alt="{{ item.name }}" class="slider_image" />
                            {% if item.link %}</a>{% endif %}
                        </div>
                        {% endfor %}
                    </div>
            {% endif %}

            {% if info.homepage.slogan %}
            <div class="row">
                <div class="col-xs-12">
                    <h5 id="slogan">​{{ info.homepage.slogan }}</h5>
                </div>
            </div>
            {% endif %}

            <div class="row" id="page_content">
                <div class="col-xs-12 col-sm-5 col-sm-offset-1">
                    {{ info.homepage.content_left|safe }}
                </div>
                <div class="col-xs-12 col-sm-5 col-sm-offset-1">
                    {{ info.homepage.content_right|safe }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
