{% extends "base.html" %}

{% block content %}
    <section class="section section-first priority-1 color-scheme-1 transition-form switcher-item-2">
        <div class="container">
            {% if page_colors.title %}<h1 id="home"{% if page_colors.title_size %} style="font-size: {{ page_colors.title_size }}px; line-height: {{ page_colors.title_size }}px;{% if page_colors.title_color %} color: #{{ page_colors.title_color }};{% endif %}{% if page_colors.title_font %} font-family: {{ page_colors.title_font }};{% endif %}"{% endif %}>{{ page_colors.title }}</h1>{% endif %}

            {% if info.slideritems %}
            {% if page_colors.slider_color %}<style>.color-scheme-1 .owl-carousel .owl-pagination .owl-page.active { background: #{{ page_colors.slider_active_color }}; } .color-scheme-1 .owl-carousel .owl-pagination .owl-page { background: #{{ page_colors.slider_color }}; }</style>{% endif %}

            <div class="row">
                <div class="col-xs-12">
                    <div id="home-slider" class="owl-carousel">
                        {% for item in info.slideritems %}
                        <div>
                            {% if item.link %}<a href="{{ item.link }}">{% endif %}
                                <img src="{{ item.image.url }}" alt="{{ item.name }}" class="slider_image" />
                            {% if item.link %}</a>{% endif %}
                        </div>
                        {% endfor %}
                    </div>
            {% endif %}

            {% if page_colors.slogan %}
            <div class="row">
                <div class="col-xs-12">
                    <h5{% if page_colors.slogan_size %} style="font-size: {{ page_colors.slogan_size }}px; line-height: {{ page_colors.slogan_size }}px;{% if page_colors.slogan_color %} color: #{{ page_colors.slogan_color }};{% endif %}"{% endif %}>​{{ page_colors.slogan }}</h5>
                </div>
            </div>
            {% endif %}

            {% if page_colors.header_color %}<style>.home_content h1, .home_content h2, .home_content h3, .home_content h4, .home_content h5, .home_content h6 { color: #{{ page_colors.header_color }}; }</style>{% endif %}
            {% if page_colors.content_color %}<style>.home_content p, .home_content blockquote { color: #{{ page_colors.content_color }}; }</style>{% endif %}

            <div class="row home_content">
                <div class="col-xs-12 col-sm-5 col-sm-offset-1">
                    {{ page_colors.content_left|safe }}
                </div>
                <div class="col-xs-12 col-sm-5 col-sm-offset-1">
                    {{ page_colors.content_right|safe }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
