{% extends "base.html" %}

{% load staticfiles %}

{% block pageTitle %}Our Beers - {% endblock %}

{% block content %}
    <section class="section section-first priority-1 color-scheme-1 transition-form switcher-item-2">
        <div class="container">
            <h1 id="home">Our Beers</h1>
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1 col-sm-3 col-sm-offset-1">
                    <p><img src="{% static 'images/beers_01.jpg' %}" alt="Beer 01" /></p>
                </div>
                <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1">
                    <h5 class="beer_name">Pale Ale</h5>
                    <p>ABV: 4.5%<br />IBU: 25</p>
                    <p>Our Pale Ale is a smooth, balanced, copper-colored session beer with mildly spiced flavor and aroma from the East Kent Goldings hops. The bready, lightly caramel malt complements the hint of fruitiness contributed by the London Ale yeast, making it satisfying and authentic.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1 col-sm-3 col-sm-offset-1">
                    <p><img src="{% static 'images/beers_01.jpg' %}" alt="Beer 01" /></p>
                </div>
                <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1">
                    <h5 class="beer_name">Pilsner</h5>
                    <p>ABV: 5.1%<br />IBU: 30</p>
                    <p>Our Pilsner is a golden and crystal clear lager.  The hops lend a pleasant bitterness and a lemony, peppery taste. They are added at the beginning of the brew for bitterness and the end for flavor.  The subtle and lightly toasted flavor of the malts is the perfect backbone to showcase the special hop blend.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1 col-sm-3 col-sm-offset-1">
                    <p><img src="{% static 'images/beers_01.jpg' %}" alt="Beer 01" /></p>
                </div>
                <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1">
                    <h5 class="beer_name">Black IPA</h5>
                    <p>ABV: 6.9%<br />IBU: 50</p>
                    <p>Our Black IPA combines the roasted malt flavors of porters and stouts with the bright hoppiness of the American IPA.  The brew is dry hopped for additional flavor and aroma, without adding unnecessary bitterness.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1 col-sm-3 col-sm-offset-1">
                    <p><img src="{% static 'images/beers_01.jpg' %}" alt="Beer 01" /></p>
                </div>
                <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1">
                    <h5 class="beer_name">Brown Ale</h5>
                    <p>ABV: 5.8%<br />IBU: 39</p>
                    <p>Our Brown Ale is a smooth, balanced, copper-colored session beer with mildly spiced flavor and aroma from the East Kent Goldings hops. The bready, lightly caramel malt complements the hint of fruitiness contributed by the London Ale yeast, making it satisfying and authentic.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}