{% extends "base.html" %}

{% load staticfiles %}

{% block pageTitle %}Our Beers - {% endblock %}

{% block content %}
    <section class="section section-first priority-1 color-scheme-1 transition-form switcher-item-2">
        <div class="container">
            {% if info.ourbeer.title %}<h1 style="font-size: {{ info.ourbeer.title_size }}px; line-height: {{ info.ourbeer.title_size }}px;">{{ info.ourbeer.title }}</h1>{% endif %}

            {% if info.ourbeer.slogan %}
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                    <h5 style="font-size: {{ info.ourbeer.slogan_size }}px; line-height: {{ info.ourbeer.slogan_size }}px;">​{{ info.ourbeer.slogan }}</h5>
                </div>
            </div>
            {% endif %}

            {% for beer in info.beers %}
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1 col-sm-3 col-sm-offset-1">
                    {% if beer.image %}<p><img src="{{ beer.image.url }}" alt="{{ beer.name }}" /></p>{% endif %}
                </div>
                <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1">
                    {% if beer.name %}<h5 class="beer_name">{{ beer.name }}</h5>{% endif %}
                    {% if beer.description %}<p>{{ beer.description|linebreaksbr }}</p>{% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
