{% extends "base.html" %}

{% load staticfiles %}

{% block pageTitle %}{% if find_us.title %}{{ find_us.title }}{% else %} Find Our Beers{% endif %} - {% endblock %}

{% block content %}
    <section class="section section-first priority-1 color-scheme-1 transition-form switcher-item-2">
        <div class="container">
            {% if find_us.title %}<h1 id="page_title">{{ find_us.title }}</h1>{% endif %}

            {% if find_us.slogan %}
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                    <h5 id="slogan">​{{ find_us.slogan }}</h5>
                </div>
            </div>
            {% endif %}

            <div class="row" id="page_content">
                <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1">
                    <div id="map-canvas"></div>

                    {% if find_us.page_content %}<p>{{ find_us.page_content|safe }}</p>{% endif %}
                </div>
            </div>
        </div>
    </section>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDknv5lm5iK2eX6nLkVmTw4zkf5JcL4EiI"></script>
    <script>{% verbatim %}
    function initialize() {
        geocoder = new google.maps.Geocoder();
        var mapOptions = {
            center: { lat: 32.9133474, lng: -96.4413432},
            zoom: 8
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

        {% end verbatim %}{% for location in info.locations %}{% verbatim %}
        geocoder.geocode({ 'address': {% end verbatim %}{{ location.address }}{% verbatim %} }, function(results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                var marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location
                });
            }
        });
        {% end verbatim %}{% endfor %}{% verbatim %}
    }
    google.maps.event.addDomListener(window, 'load', initialize);
    {% end verbatim %}</script>
{% endblock %}
