{% extends "base.html" %}

{% load staticfiles %}

{% block pageTitle %}Contact Us - {% endblock %}

{% block content %}
    <section class="section section-first priority-1 color-scheme-1 transition-form switcher-item-2">
        <div class="container">
            {% if contactinfo.title %}<h1 style="font-size: {{ contactinfo.title_size }}px; line-height: {{ contactinfo.title_size }}px;{% if contactinfo.title_color %} color: #{{ contactinfo.title_color }};{% endif %}{% if contactinfo.title_font %} font-family: {{ contactinfo.title_font }};{% endif %}">{{ contactinfo.title }}</h1>{% endif %}

            {% if contactinfo.slogan %}
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                    <h5 style="font-size: {{ contactinfo.slogan_size }}px; line-height: {{ contactinfo.slogan_size }}px;{% if contactinfo.slogan_color %} color: #{{ contactinfo.slogan_color }};{% endif %}">​{{ contactinfo.slogan }}</h5>
                </div>
            </div>
            {% endif %}

            {% if contactinfo.header_color %}<style>.contact_content h4 { color: #{{ contactinfo.header_color }}; }</style>{% endif %}
            {% if contactinfo.content_color %}<style>.contact_content p, .contact_content a, .contact_content a:hover { color: #{{ contactinfo.content_color }}; }</style>{% endif %}

            <div class="row contact_content">
                <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-0">
                    {% if contactinfo.business_hours_title %}<h4>{{ contactinfo.business_hours_title }}</h4>{% endif %}
                    {% if contactinfo.business_hours %}<p>{{ contactinfo.business_hours|safe }}</p>{% endif %}

                    {% if contactinfo.tour_hours_title %}<h4>{{ contactinfo.tour_hours_title }}</h4>{% endif %}
                    {% if contactinfo.tour_hours %}<p>{{ contactinfo.tour_hours|safe }}</p>{% endif %}
                </div>

                <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-0">
                    {% if contactinfo.address1 or contactinfo.address2 %}
                    <h4>Address</h4>
                    <p>{% if contactinfo.address1 %}{{ contactinfo.address1 }}<br />{% endif %}{% if contactinfo.address2 %}{{ contactinfo.address2 }}{% endif %}</p>
                    {% endif %}

                    {% if contactinfo.phone %}
                    <h4>Phone</h4>
                    <p>{{ contactinfo.phone }}</p>
                    {% endif %}

                    {% if contactinfo.email %}
                    <h4>Email</h4>
                    <p><a href="mailto:{{ contactinfo.email }}">{{ contactinfo.email }}</a></p>
                    {% endif %}
                </div>

                <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-0">
                    {% if contactinfo.map_title %}<h4>{{ contactinfo.map_title}}</h4>{% endif %}
                    {% if contactinfo.map_image %}<p>{% if contactinfo.address1 or contactinfo.address2 %}<a href="https://www.google.com/maps/place/{% if contactinfo.address1 %}{{ contactinfo.address1 }} {% endif %}{% if contactinfo.address2 %}{{ contactinfo.address2 }}{% endif %}" title="Link to Google Maps"><img src="{{ contactinfo.map_image.url }}" alt="Map" /></a>{% else %}<img src="{{ contactinfo.map_image.url }}" alt="Map" />{% endif %}</p>{% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
